addons:
    chrome: stable
dist: trusty
jdk: oraclejdk8
language: java
sudo: required

before_script:
    - "sudo chown root /opt/google/chrome/chrome-sandbox"
    - "sudo chmod 4755 /opt/google/chrome/chrome-sandbox"

script:
    - ./gradlew test && ./gradlew :apps:analytics:analytics-client-js:npmRunTest

deploy:
    access_key_id: $AWS_ACCESS_KEY_ID
    bucket: $AWS_S3_BUCKET_NAME
    endpoint: $AWS_S3_BUCKET_ENDPOINT
    local_dir: analytics-client-js/build
    on:
        branch: release
    provider: s3
    region: $AWS_S3_BUCKET_REGION
    secret_access_key: $AWS_ACCESS_SECRET_KEY
    skip_cleanup: true